:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text: #8e8f99;
  --accent-color: #e7e9fc;
  --light_color: #f4f4fd;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --modal-background-color: #fcfcfc;
  --white-background-color: #ffffff;
  --transicion: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background: var(--white-background-color);
  list-style-type: none;
  text-decoration: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

/**-------------HEADER--------------**/

.container-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e7e9fc;
  /* для визначення тіні для елемента */
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-in-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  outline: 2px solid red;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
}

.header-nav-list {
  display: flex;
  gap: 40px;
  /*margin-left: 76px;*/
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.header-link {
  padding: 24px 0;
  flex-wrap: wrap;
  /* color: #404bbf; для визначення кольору тексту */
  color: var(--pressed-state-color);
  /* transition: color var(--transicion); */
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

/**-------------IndexSection1--------------**/

.hero-titel {
  max-width: 496px;
}

.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.hero-section {
  display: flex;
  padding: 188px 0;
}

.hero-button {
  min-width: 169px;
}

/**-------------IndexSection2--------------**/

.withauttlt-blok {
  background-color: var(--light_color);
  border-radius: 4px;
  padding: 24px;
  max-width: 264px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.withauttlt-pic {
}

.section-withauttlt {
  padding: 120px 0;
}

.container-withauttlt {
  display: flex;
  gap: 24px;
}

.list-withauttlt {
  width: calc((100% - 24px * 3) / 4);
}

.titel-withauttlt {
  margin-bottom: 8px;
}

/*!-приховує заголовок лише візуально на сторінці так, щоб заголовок не займав місце у потоці) Але вин залишається "видимим" для пошукових систем та скрінрідерів-*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**-------------IndexSection3--------------**/

.container-doing {
  padding-bottom: 120px;
}

.section-titel {
  margin-bottom: 72px;
}

.foto-doing {
  display: flex;
  gap: 24px;
  /*margin-top: 72px;*/
}

.foto-doing-list {
  flex-basis: calc((100% - 3 * 16px) / 3);
}

/**-------------IndexSection4--------------**/

.section-for {
  padding: 120px 0;
}

.titel-team {
  margin-bottom: 72px;
}

.list-comand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /*margin-top: 72px;*/
  gap: 24px;
}

.list-section-for {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  gap: 8px;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.member-info {
  padding: 32px 0;
}

.member-info-titel {
  text-align: center;
}

.paragraf-titel {
  margin-bottom: 8px;
}

.member-info-text {
  text-align: center;
  margin-bottom: 8px;
}

/**-------------IndexSectionFooter--------------**/

.footer {
  padding: 100px 0;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.paragraf-text-white {
  max-width: 264px;
}

/*!-------------PortfolioNav--------------**/

.portfolio {
  padding: 96px 0 120px 0;
}

.list-portfolio-nav {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.portfolio-button {
  padding: 12px 24px;
}

/*!-------------PortfolijListDo--------------**/
.portfolio-list-do {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  /*gap: 48px 24px;*/
  padding-bottom: 120px;
}

.portfolio-list-modul {
  /*width: calc((100%-24px * 2) / 3);*/
  /*width: 360px;*/
  display: block;
  /* background-color: red; */
  width: calc((100% - 48px) / 3);
  transition: border var(--transicion), box-shadow var(--transicion);
  /* position: relative; */
}

.portfolio-list-modul:hover,
.portfolio-list-modul:focus {
  border: 1px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Ковер Блок */

.portfolio-list-modul:hover .portfolio-cover-blok,
.portfolio-list-modul:focus .portfolio-cover-blok {
  transform: translate(0);
}

.portfolio-cover {
  display: block;
  position: relative;
  /* приховаемо зайве! */
  overflow: hidden;
}

.portfolio-cover-blok {
  background-color: var(--primary-brand-color);
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* опустимо вниз на 100%! */
  transform: translateY(100%);
  /* зробимо анимацію! */
  transition: transform var(--transicion);
}

.portfolio-cover-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light_color);
}

.portfolio-text-do {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}

.paragraf-titel {
  margin-bottom: 8px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-brand-color);
}

.logo-accent {
  color: var(--dark-color);
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.header-contakt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  /* color: #404bbf; для визначення кольору тексту */
  /* color: var(--pressed-state-color); */
  transition: color var(--transicion);
}

.header-contakt:hover,
.header-contakt:focus {
  color: var(--pressed-state-color);
}

.hero-section {
  background: var(--hero-background-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people_office.jpg);
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  /* background-position: center; для вирівнювання фонового зображення відносно його власної ширини та висоти */
  background-position: center;
  /* background-size: cover; для позиціонування зображення на всю площу фону елемента */
  background-size: cover;
  /* text-align: center; */
}

.hero-titel {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background-color);
}

.hero-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-brand-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background-color);
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px;
  transition: background-color var(--transicion),
    boxbox-shadow var(--transicion);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-titel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--dark-color);
}

.paragraf-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.paragraf-titel {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.section-for {
  background-color: var(--light_color);
}

.list-section-for {
  background-color: var(--white-background-color);
}

.footer {
  background-color: var(--hero-background-color);
}

.paragraf-text-white {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light_color);
}

.logo-accent-white {
  color: var(--light_color);
}

.portfolio-button {
  font-family: "Roboto", sans-serif;
  background-color: var(--light_color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--primary-brand-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: background-color var(--transicion), color var(--transicion),
    border var(--transicion), box-shadow var(--transicion);
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
  border: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/**-------------IndexSection5--------------**/

.section-five {
  display: flex;
  padding: 120px 0;
}
.container {
}
.container-customers {
  margin-bottom: 72px;
}
.section-titel {
}
.titel-customers {
}
.list {
}
.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.cust-blok-links {
  display: flex;
}
.link {
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 168px;
  height: 88px;
  padding: 16px 32px;
  color: var(--subtle-text);
  border: 1px solid var(--subtle-text);
  border-radius: 4px;
  transition: border-color var(--transicion);
}
.customers-logo {
  fill: currentColor;
  transition: fill var(--transicion);
}

.customers-link:hover,
.customers-link:focus {
  border-color: var(--pressed-state-color);
  /* При фокусі на посилання, в класі заданий стиль color: #404bbf; для зміни кольору фону при кліку на посилання */
  color: var(--modal-overlay-color);
}

.customers-link:hover .customers-logo,
.customers-link:focus .customers-logo {
  fill: var(--pressed-state-color);
}

/*!--Section Soc Links-- */

.container-footer {
  display: flex;
  /* align-items: flex-start; */
  /* align-items: baseline, що встановлює вирівнювання елементів у поперечному напрямку вздовж головної осі контейнера відносно базової лінії тексту першого рядка кожного елемента */
  align-items: baseline;
  /* gap: 120px; */
}

.container-footer-logo {
  margin-right: 120px;
}

.soc-link-blok {
}
.soc-link-titel {
  color: var(--white-background-color);
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.soc-link-list {
  display: flex;
  gap: 16px;
}
.soc-link-label {
}
.link {
}
.soc-link {
  display: flex;
  flex-wrap: wrap;
  width: 40px;
  height: 40px;
  background-color: var(--primary-brand-color);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transicion);
}

.soc-link:hover,
.soc-link:focus {
  background-color: var(--success-color);
}

.soc-logo-pic {
  fill: var(--light_color);
}

.soc-link-label {
  justify-content: center;
}

.list-section-for .soc-link-list {
  justify-content: center;
}

.soc-link.team:hover,
.soc-link.team:focus {
  background-color: var(--pressed-state-color);
}

.soc-link-list .team {
  gap: 24px;
  /* flex-wrap: wrap; */
}

.soc-logo-pic-team {
  fill: var(--light_color);
}

.backdrop {
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  transition: visibility var(--transicion), opacity var(--transicion);
}

.modal {
  /* поставимо по центру */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform var(--transicion);
  padding: 24px 24px;
  width: 408px;
  min-height: 584px;
  background: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-close-lebel {
  fill: var(--dark-color);
  transition: fill var(--transicion);
}

.modal-close:hover .modal-close-lebel,
.modal-close:focus .modal-close-lebel {
  fill: var(--white-background-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(0);
  /* transition: fill var(--transicion); */
}

.modal-close {
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color var(--transicion), border var(--transicion);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--pressed-state-color);
  border: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
